<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531789780221-e0ea6gvjfcklse0o3vlb447rqqr9bb6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531789780221-e0ea6gvjfcklse0o3vlb447rqqr9bb6m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>531789780221-46ad9iif470d830jgl7mdlf067qcdf6v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCL9037xdKSTBKbGovm02xeKLPnROqmX9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>531789780221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.honocaffesurabaya</string>
	<key>PROJECT_ID</key>
	<string>honocaffesurabaya-mjz5yx</string>
	<key>STORAGE_BUCKET</key>
	<string>honocaffesurabaya-mjz5yx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531789780221:ios:898211bb9b1326250e9a94</string>
</dict>
</plist>